@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

:root {
  --LB_InputSize: min(calc((100vw - 140px) / 4), 80px);
  --LB_AvLetterSize: calc((100vw - 56px - 40px) / 8);
  --LB_FontSize: 20px;
  --LB_FontWeight: 500;
  --LB_MainBgColor: rgb(7, 150, 7);
  --LB_ButtonColor: #a30e4f;
  --LB_ButtonColor_Hover: #b3185b;
}
body,
input {
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: white;
}
#game-container {
  background: rgb(28, 28, 28);
  background: linear-gradient(49deg, rgba(28, 28, 28, 1) 0%, rgba(59, 59, 59, 1) 100%);
  min-height: 100vh;
}
#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  height: 50px;
  border-bottom: solid white 3px;
}
#title {
  font-size: 0.8em !important;
  text-transform: uppercase;
}

#infoButton,
#menuButton {
  font-size: 24px;
  cursor: pointer;
}

#gameStart {
  margin-bottom: 20px;
  display: none;
}

#gameboard {
  display: flex;
  max-width: 600px;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  padding: 0 20px;
}

#button-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#buttons_row1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#button-field button,
#result button {
  font-family: inherit;
  box-shadow: none;
  border: none;
  border-radius: 2px;
  margin: 0 4px;
  padding: 10px 10px;
  background-color: var(--LB_ButtonColor);
  color: white;
  font-size: 14px;
  cursor: pointer;
}

#button-field button:first-child {
  margin-left: 0px;
}

#button-field button:last-child {
  margin-right: 0px;
}

#button-field button:hover {
  background-color: var(--LB_ButtonColor_Hover);
}

#button-field #restartButton {
  background-color: green;
}
#button-field #restartButton:hover {
  background-color: rgb(75, 160, 75);
}

#button-field #hintButton:disabled,
#button-field #hintButton:disabled:hover {
  background-color: #877b7b;
  cursor: default;
}

@media only screen and (min-width: 480px) {
  #title {
    font-size: 1.3em;
  }
  #buttons_row1 {
    justify-content: center;
  }
  #button-field button {
    font-size: 16px;
  }
  .av_title {
    margin-bottom: 10px;
  }
}

#wrongAnswer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}

#result {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 50vh;
  width: calc(100% - 80px);
  max-width: 600px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  background: #6a6a6af2;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  margin: 10px auto;
  padding: 0 20px;
  pointer-events: none;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

#result h2 {
  font-size: 2.3em;
}

#result.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%);
}
#resultTime,
#resultHints {
  font-weight: 600;
}

#share_url {
  padding: 10px;
  margin-top: 5px;
  background: #333;
  border-radius: 5px;
  font-size: 13px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
#share_url.show {
  opacity: 1;
}

#game-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.row2 {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.row3 {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  margin-bottom: 4px;
}

input[type="text"] {
  width: var(--LB_InputSize);
  height: var(--LB_InputSize);
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--LB_FontSize);
  font-weight: var(--LB_FontWeight);
  outline: none;
  box-shadow: none;
  border: 2px solid white;
  border-radius: 2px;
  color: #1b1b1b;
  background-color: rgb(63, 63, 63);
  cursor: default;
}

#game-form.letterSelected input[type="text"],
input[type="text"].filled {
  cursor: pointer;
}

input[type="text"].corner,
input[type="text"].filled,
input[type="text"].filledByHint {
  background-color: var(--LB_MainBgColor);
  color: white;
}
input[type="text"].filledByHint {
  border-color: orange;
}
.availableLettersWrap {
  text-align: center;
  margin-bottom: 20px;
}

#availableLettersDiv {
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
}

.av_title {
  font-size: 1.14em;
  font-weight: 500;
}
.letters {
  display: flex;
  width: min(var(--LB_AvLetterSize), 60px);
  height: min(var(--LB_AvLetterSize), 60px);
  justify-content: center;
  align-items: center;
  margin: 4px;
  font-size: var(--LB_FontSize);
  font-weight: var(--LB_FontWeight);
  background-color: var(--LB_MainBgColor);
  color: white;
  box-sizing: border-box;
  user-select: none;
  border-radius: 2px;
}

.letters:first-child {
  margin-left: 0px;
}
.letters:last-child {
  margin-right: 0px;
}

.letters.filledByHint {
  display: none;
}

.letters.selected {
  border: 2px solid white;
  background-color: rgb(40, 156, 40);
  line-height: 44px;
}

.letters:hover {
  cursor: pointer;
  background-color: rgb(75, 160, 75);
}

.letters.used {
  background-color: grey;
  border-radius: 2px;
}
#timer {
  font-size: 18px;
  font-weight: 600;
}
#challenge {
  text-align: center;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 5px;
}

#challenge.hide {
  display: none;
}

#challengeHints,
#challengeTime {
  font-weight: 600;
}

#instructions {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  width: calc(100% - 80px - 40px);
  max-width: 600px;
  border-radius: 10px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  background: #6a6a6af2;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  margin: 10px auto;
  padding: 40px 40px;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

#instructions.hide {
  opacity: 0;
  transform: translate(-50%, 10%);
  pointer-events: none;
}

#i-close-button,
#r-close-button,
#menu-close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

#menu {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 53px;
  left: 0%;
  background: #323232;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  padding: 20px;
  box-sizing: border-box;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

#menu-close-button {
  margin: 20px;
}

#menu .menu-title {
  font-size: 1.6em;
}

a {
  color: white;
  text-decoration: none;
}

#menu.hide {
  opacity: 0;
  pointer-events: none;
  transform: translate(-55%);
}

@media only screen and (min-width: 600px) {
  #menu {
    max-width: 400px;
  }
  #menu.hide {
    transform: translate(-55%);
  }
}
